[Desktop Entry]
Type=Application
Name=Logisch 6
GenericName=Logisch 6
Comment=Rechnen und üben 6
Icon=logisch6.png
Exec=/usr/share/bin/logisch 6
Terminal=false
Categories=Education


