[Desktop Entry]
Type=Application
Name=Logisch 2
GenericName=Logisch 2
Comment=Rechnen und üben 2
Icon=logisch2.png
Exec=/usr/share/bin/chromium.sh logisch/logisch2/logisch2.htm
Terminal=false
Categories=Education


