#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Logisch
GenericName=Logisch 
Comment=Rechnen und üben 
Icon=logisch1.png
Exec=/usr/share/bin/logisch
Terminal=false
Categories=Education
Actions=1;2;3;4;5;6;


[Desktop Action 1]
Exec=/usr/share/bin/logisch 1
Name=Teil 1
Icon=logisch1.png

[Desktop Action 2]
Exec=/usr/share/bin/logisch 2
Name=Teil 2
Icon=logisch2.ico

[Desktop Action 3]
Exec=/usr/share/bin/logisch 3
Name=Teil 3
Icon=logisch3.png

[Desktop Action 4]
Exec=/usr/share/bin/logisch 4
Name=Teil 4
Icon=logisch4.png

[Desktop Action 5]
Exec=/usr/share/bin/logisch 5
Name=Teil 5
Icon=logisch5.png

[Desktop Action 6]
Exec=/usr/share/bin/logisch 6
Name=Teil 6
Icon=logisch6.png


