[Desktop Entry]
Type=Application
Name=Logisch 4
GenericName=Logisch 4
Comment=Rechnen und üben 4
Icon=logisch4.png
Exec=/usr/share/bin/chromium.sh logisch/logisch4/logisch4.htm
Terminal=false
Categories=Education


