[Desktop Entry]
Type=Application
Name=Logisch 3
GenericName=Logisch 3
Comment=Rechnen und üben 3
Icon=logisch3.png
Exec=/usr/share/bin/logisch 3
Terminal=false
Categories=Education


