[Desktop Entry]
Type=Application
Name=Logisch 4
GenericName=Logisch 4
Comment=Rechnen und üben 4
Icon=logisch4.png
Exec=/usr/share/bin/logisch 4
Terminal=false
Categories=Education


