[Desktop Entry]
Type=Application
Name=Logisch 3
GenericName=Logisch 3
Comment=Rechnen und üben 3
Icon=logisch3.png
Exec=/usr/share/bin/chromium.sh logisch/logisch3/logisch3.htm
Terminal=false
Categories=Education


